<!-- templates/books/book_form.html -->
{% extends 'base.html' %}

{% block title %}
  {% if form.instance.pk %}
    Edit Book - {{ form.instance.title }}
  {% else %}
    Add New Book
  {% endif %}
{% endblock %}

{% block content %}
<style>
    .addbook button, input, optgroup, select, textarea {
      margin: 3px;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      width: 500px;
    }
  </style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><b>LMS Portal</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'user_list' %}">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'book_list' %}">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'borrowed_books_list' %}">Loan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Return</a>
          </li>
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button> -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            {% if form.instance.pk %}
              Edit Book - {{ form.instance.title }}
            {% else %}
              Add New Book
            {% endif %}
          </h2>
          <br>
          <form method="post">
            {% csrf_token %}
            
            <!-- Title -->
            <div class="mb-6">
              <label for="id_title" class="form-label">Title:</label>
              <br>
              <div class="addbook">{{form.title}}</div>
              {% if form.title.errors %}
                <div class="invalid-feedback d-block">
                  {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            
            <!-- Author -->
            <div class="mb-6">
              <label for="id_author" class="form-label">Author:</label>
              <br>
              {{ form.author }}
              {% if form.author.errors %}
                <div class="invalid-feedback d-block">
                  {% for error in form.author.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            
            <!-- Published Date -->
            <div class="mb-6">
              <label for="id_published_date" class="form-label">Published Date:</label>
              <br>
              {{ form.published_date }}
              {% if form.published_date.errors %}
                <div class="invalid-feedback d-block">
                  {% for error in form.published_date.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            
            <!-- ISBN -->
            <div class="mb-6">
              <label for="id_isbn" class="form-label">ISBN:</label>
              <br>
              {{ form.isbn }}
              {% if form.isbn.errors %}
                <div class="invalid-feedback d-block">
                  {% for error in form.isbn.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary" style="width:520px;">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}