<!-- templates/books/reserve.html -->
{% extends 'base.html' %}

{% block title %}
  Reserved Books
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><b>LMS Portal</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'user_list' %}active{% endif %}" aria-current="page" href="{% url 'user_list' %}">Members</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'book_list' %}active{% endif %}" href="{% url 'book_list' %}">Books</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'borrowed_books_list' %}active{% endif %}" href="{% url 'borrowed_books_list' %}">Return Book</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'reserve_view' %}active{% endif %}" href="{% url 'reserve_view' %}">Reservation</a>
              </li>
          </ul>
          <form class="d-flex" method="GET" action="{% url 'book_list' %}">
              <input class="form-control me-2" type="search" name="q" placeholder="Search by Title" aria-label="Search" value="{{ query|default_if_none:"" }}">
              <button class="btn btn-outline-success" type="submit">Search</button>
              {% if query %}
                  <button class="btn btn-outline-secondary btn-sm"><a href="{% url 'book_list' %}">Clear Search</a></button>
              {% endif %}
          </form>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>

  <div class="container mt-4">
  <div class="mt-4">
    <h2>Reserved Books</h2>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">Reserved Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for reservation in reservations %}
          <tr>
            <td>{{ reservation.book_id }}</td>
            <td>{{ reservation.book_title }}</td>
            <td>{{ reservation.reserved_date }}</td>
            <td>
              {% if reservation.user_id == request.user.id %}
              <form action="{% url 'loan_book' reservation.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="reservation_id" value="{{ reservation.pk }}">
                <button type="submit" class="btn btn-primary">Loan</button>
              </form>
              {% else %}
              <span class="text-muted">Not allowed</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}